.main {
  padding-top: 2rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 10px rgb(237, 116, 116), -8px -8px 10px rgb(237, 116, 116);
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  background: rgb(247, 245, 219);
}

.btn-add {
  width: 6rem;
  height: 2.2rem;
  border: none;
  background-color: rgb(250, 201, 149);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  transition: 0.4s;
}

.input-add {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.input-space {
  width: 10rem;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 20px;
  transition: 0.4s;
  border: 2px solid #000;
}

.btn-cmt {
  padding: 10px 10px;
  width: 12rem;
  font-size: 15px;
  border-radius: 20px;
  background: rgb(250, 201, 149);
  border: none;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  transition: 0.4s;
}

.counter {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.btn-cmt:hover {
  transform: scale(110%);
}

.btn-add:hover {
  transform: scale(110%);
}

.input-space:focus {
  box-shadow: 5px 5px 5px rgb(240, 207, 158);
  border-color: #fff;
  outline: none;
}
